@font-face {
    font-family: open-sans-bold;
    src: url('../assets/fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: open-sans-bold-italic;
    src: url('../assets/fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: open-sans-extra-bold;
    src: url('../assets/fonts/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: open-sans-extra-bold-italic;
    src: url('../assets/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: open-sans-italic;
    src: url('../assets/fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: open-sans-light;
    src: url('../assets/fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: open-sans-light-italic;
    src: url('../assets/fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: open-sans-regular;
    src: url('../assets/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: open-sans-semi-bold;
    src: url('../assets/fonts/open-sans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: open-sans-semi-bold-italic;
    src: url('../assets/fonts/open-sans/OpenSans-SemiBoldItalic.ttf');
}


/*Icon Moon*/
@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/iconmoon/icomoon.eot?b087mp');
    src:  url('../assets/fonts/iconmoon/icomoon.eot?b087mp#iefix') format('embedded-opentype'),
    url('../assets/fonts/iconmoon/icomoon.ttf?b087mp') format('truetype'),
    url('../assets/fonts/iconmoon/icomoon.woff?b087mp') format('woff'),
    url('../assets/fonts/iconmoon/icomoon.svg?b087mp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*----------------------------------------------------Font Styles----------------------------------------------------*/
/*Bold Text*/
.bold-text {
    font-family: open-sans-bold;
}

/*Regular Text*/
.regular-text {
    font-family: open-sans-regular;
}

/*Light Text*/
.light-text {
    font-family: open-sans-light;
}

/*Semi Bold Text*/
.semi-bold-text {
    font-family: open-sans-semi-bold;
}

/*----------------------------------------------------Font Styles----------------------------------------------------*/

/*----------------------------------------------------Font Sizes----------------------------------------------------*/

/*Font Size 12px*/
.fs-12 {
    font-size: 12px;
}

/*Font Size 14px*/
.fs-14 {
    font-size: 14px;
}

/*Font Size 15px*/
.fs-15 {
    font-size: 15px;
}

/*Font Size 16px*/
.fs-16 {
    font-size: 16px;
}

/*Font Size 18px*/
.fs-18 {
    font-size: 18px;
}

/*Font Size 20px*/
.fs-20 {
    font-size: 20px;
}

/*Font Size 24px*/
.fs-24 {
    font-size: 24px;
}

/*Font Size 28px*/
.fs-28 {
    font-size: 28px;
}

/*Font Size 36px*/
.fs-36 {
    font-size: 36px;
}

/*Font Size 48px*/
.fs-48 {
    font-size: 48px;
}

/*Font Size 56px*/
.fs-56 {
    font-size: 56px;
}

/*----------------------------------------------------Font Sizes----------------------------------------------------*/

/*----------------------------------------------------Button Styles----------------------------------------------------*/

/*Header Nav Active/Focus Button Outline*/
.button-outline-none:active,
.outline-none:active,
.button-outline-none:focus,
.outline-none:focus {
    outline: none;
    box-shadow: none;
}

/*Circle Carousel Indicators*/
.carousel-circle-indicators-li {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    background-color: rgba(0, 0, 0, 0.16) !important;
}

/*Circle Carousel Indicators*/
.circle-indicators-active .active {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/*Pink Button*/
.pink-btn {
    background-color: #EF005A;
}

/*Red Button*/
.red-btn {
    background-color: #ED1B23;
}

/*Pink fill Button*/
.fill-btn {
    color: #FFFFFF;
    height: 48px;
    font-size: 14px;
    letter-spacing: 1.25px;
    padding: 0 24px;
    text-transform: uppercase;
    transition: 0.5s;
}

/*Pink fill Button Active*/
.fill-btn:hover,
.fill-btn:active,
.fill-btn:focus {
    color: #FFFFFF;
}

/*Pink-text-button*/
.text-btn {
    height: 48px;
    font-size: 14px;
    letter-spacing: 1.25px;
    padding: 0 24px;
    text-transform: uppercase;
    transition: 0.5s;
}

/*Text Button Animation*/
.text-btn:hover,
.text-btn:active,
.text-btn:focus {
    color: inherit;
}

/*Outline Button*/
.outline-btn {
    color: #757575;
    height: 48px;
    font-size: 14px;
    letter-spacing: 1.25px;
    padding: 0 24px;
    text-transform: uppercase;
    border: 1px solid #C4C4C4;
    transition: 0.5s;
}

/*Outline Button Animation*/
.outline-btn:hover,
.outline-btn:active,
.outline-btn:focus {
    color: #EF005A;
}

/*Pink Hover*/
.pink-hover {
    transition: 0.5s;
}

.pink-hover:hover,
.pink-hover:active,
.pink-hover:focus {
    color: #EF005A;
    text-decoration: none;
}

/*----------------------------------------------------Button Styles----------------------------------------------------*/

/*----------------------------------------------------Card Styles----------------------------------------------------*/
/*Card Style 5*/
.cd-style-5 {
    width: 310px;
    height: 420px;
    padding: 15px;
    border-radius: 16px;
    -webkit-box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
    -moz-box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
    box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
}

/*Card Style 5 Active*/
.cd-style-5:hover,
.cd-style-5:active,
.cd-style-5:focus {
    -webkit-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    -moz-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    box-shadow: 0 0 4px 0 rgba(207,208,218,1);
}

/*All Card Style*/
.all-cd-style {
    border-radius: 16px;
    -webkit-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    -moz-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    box-shadow: 0 0 4px 0 rgba(207,208,218,1);
}

/*All Card Style Animation*/
.all-cd-style:hover,
.all-cd-style:active,
.all-cd-style:focus {
    -webkit-box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
    -moz-box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
    box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
}

/*Outline Card*/
.cd-outline {
    border-radius: 16px;
    border: 1px solid #CCCCCC;
    transition: 0.5s;
}

/*Outline Card Animation*/
.cd-outline:hover,
.cd-outline:active,
.cd-outline:focus {
    border: 1px solid #EF005A;
}


/*----------------------------------------------------Card Styles----------------------------------------------------*/

/*----------------------------------------------------Text Colors----------------------------------------------------*/

/*Navigation Text Color*/
.n-text {
    color: #60717B;
}

/*Title Color*/
.title {
    color: #333333;
}

/*Sub Title Color*/
.sub-title {
    color: #757575;
}

/*Link Color*/
.link-c {
    color: #3399EF;
}

/*Error Color*/
.error-c {
    color: #D0021B;
}

/*Pink Text*/
.pink-text {
    color: #EF005A;
}

/*----------------------------------------------------Text Colors----------------------------------------------------*/

/*----------------------------------------------------Slick Slider----------------------------------------------------*/

/*Next Arrow*/
.slick-next {
    right: -45px;
}

/*Previous Arrow*/
.slick-prev {
    left: -45px;
}

/*Previous Arrow & Next Arrow*/
.slick-prev, .slick-next {
    cursor: pointer;
    color: #757575;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    -moz-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    box-shadow: 0 0 4px 0 rgba(207,208,218,1);
}

/*Previous Arrow & Next Arrow Animation*/
.slick-prev:hover,
.slick-next:hover,
.slick-prev:active,
.slick-next:active,
.slick-prev:focus,
.slick-next:focus {
    outline: none;
    border: none;
}

/*Previous Arrow Before*/
.slick-prev:before {
    content: '\2039';
}

/*Next Arrow Before*/
.slick-next:before {
    content: '\203A';
}

/*Previous Arrow Before & Next Arrow Before*/
.slick-prev:before, .slick-next:before {
    color: rgba(0, 0, 0, 0.16);
    opacity: .75;
    font-size: 48px;
    line-height: 0.3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Previous Arrow Before & Next Arrow Before Animation*/
.slick-prev:before:hover,
.slick-next:before:hover,
.slick-prev:before:active,
.slick-next:before:active,
.slick-prev:before:focus,
.slick-next:before:focus {
    color: rgba(0, 0, 0, 0.5);
}

/*Slick Dots*/
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}


/*--------------------------Slick Dots Manual Slider--------------------------*/

/*Slick Manual Dots List*/
.slick-manual .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 11px;
    width: 110px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

/*Slick Manual Dots Active*/
.slick-manual .slick-dots .slick-active {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/*Slick Manual Dots List Button*/
.slick-manual .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 110px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.16) !important;
    transition: 0.5s;
}

/*--------------------------Slick Dots Manual Slider--------------------------*/


/*--------------------------Slick Dots Auto Slider--------------------------*/
/*Slick Auto Dots*/
.slick-auto .slick-dots {
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

/*Slick Auto Dots List*/
.slick-auto .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 12px;
    height: 12px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

/*Slick Auto Dots Active*/
.slick-auto .slick-dots .slick-active {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/*Slick Auto Dots List Button*/
.slick-auto .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.16) !important;
    transition: 0.5s;
}
/*--------------------------Slick Dots Auto Slider--------------------------*/

/*----------------------------------------------------Slick Slider----------------------------------------------------*/
