/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 575px) {

    /*Width 100%*/
    .w-m-100 {
        width: 100vw !important;
    }

    /*None Row*/
    .row-m-none {
        flex-wrap: unset !important;
        margin-right: unset !important;
        margin-left: unset !important;
    }

    /*Content Center*/
    .m-center {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    /*Content Left*/
    .m-left {
        display: flex;
        justify-content: start;
        margin: auto;
    }

    /*Display None*/
    .d-m-none {
        display: none;
    }

    /*Display Block*/
    .d-m-block {
        display: block !important;
    }

    /*Order List (Mobile/Tab)*/
    /*Order 1*/
    .mt-order-1 {
        order: 1;
    }

    /*Order 2*/
    .mt-order-2 {
        order: 2;
    }

    /*Border Radius Zero*/
    .border-m-0 {
        border-radius: 0 !important;
    }

    /*Padding Zero (Mobile/Tab)*/
    .p-mt-0 {
        padding: 0 !important;
    }

    /*--------------------Slick Style--------------------*/
    /*Slik Arrow Display None*/
    .slick-arrow-d-none .slick-prev, .slick-arrow-d-none .slick-next {
        display: none !important;
    }

    /*----Slick Dots Manual Slider----*/
    /*Slick Manual Dots List*/
    .slick-manual .slick-dots {
        bottom: -20px;
    }

    /*Slick Manual Dots List*/
    .slick-manual .slick-dots li {
        width: 50px;
        height: 5px;
        padding: 0;
    }

    /*Slick Manual Dots List Button*/
    .slick-manual .slick-dots li button {
        width: 50px;
        height: 5px;
        padding: 0;
    }

    /*----Slick Dots Manual Slider----*/
    /*--------------------Slick Style--------------------*/

    /*-----Font Sizes------*/
    /*Font Size 10px*/
    .fs-m-10 {
        font-size: 10px;
    }

    /*Font Size 12px*/
    .fs-m-12 {
        font-size: 12px;
    }

    /*Font Size 14px*/
    .fs-m-14 {
        font-size: 14px;
    }

    /*Font Size 16px*/
    .fs-m-16 {
        font-size: 16px;
    }

    /*Font Size 18px*/
    .fs-m-18 {
        font-size: 18px;
    }

    /*Font Size 20px*/
    .fs-m-20 {
        font-size: 20px;
    }

    /*Font Size 24px*/
    .fs-m-24 {
        font-size: 24px;
    }

    /*Font Size 28px*/
    .fs-m-28 {
        font-size: 28px;
    }

    /*Font Size 36px*/
    .fs-m-36 {
        font-size: 36px;
    }

    /*Font Size 48px*/
    .fs-m-48 {
        font-size: 48px;
    }

    /*Font Size 56px*/
    .fs-m-56 {
        font-size: 56px;
    }

    /*-----Font Sizes------*/
    /*-----Font Styles------*/
    /*Bold Text*/
    .bold-m-text {
        font-family: open-sans-bold;
    }

    /*Regular Text*/
    .regular-m-text {
        font-family: open-sans-regular;
    }

    /*Light Text*/
    .light-m-text {
        font-family: open-sans-light;
    }

    /*Semi Bold Text*/
    .semi-bold-m-text {
        font-family: open-sans-semi-bold;
    }

    /*Text Center*/
    .text-m-center {
        text-align: center !important;
    }

    /*-----Font Styles------*/
    /*-----Text Colors-----*/
    /*Navigation Text Color*/
    .n-m-text {
        color: #60717B;
    }

    /*Title Color*/
    .title-m {
        color: #333333;
    }

    /*Sub Title Color*/
    .sub-title-m {
        color: #757575;
    }

    /*Pink Text*/
    .pink-text-m {
        color: #EF005A;
    }

    /*White Text*/
    .white-text-m {
        color: #FFFFFF;
    }

    /*-----Text Colors-----*/

    /*-------Card Styles-------*/
    /*Card Style 5*/
    .cd-style-5 {
        height: auto;
    }
    /*-------Card Styles-------*/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    /*Display None*/
    .d-st-none {
        display: none;
    }

    /*Display Block*/
    .d-st-block {
        display: block !important;
    }

    /*None Row*/
    .row-st-none {
        flex-wrap: unset !important;
        margin-right: unset !important;
        margin-left: unset !important;
    }


    /*Order List (Mobile/Tab)*/
    /*Order 1*/
    .mt-order-1 {
        order: 1;
    }

    /*Order 2*/
    .mt-order-2 {
        order: 2;
    }

    /*Border Radius Zero*/
    .border-st-0 {
        border-radius: 0 !important;
    }

    /*Padding Zero (Mobile/Tab)*/
    .p-mt-0 {
        padding: 0 !important;
    }

    /*-------Font Sizes------*/

    /*Font Size 10px*/
    .fs-st-10 {
        font-size: 10px;
    }

    /*Font Size 12px*/
    .fs-st-12 {
        font-size: 12px;
    }

    /*Font Size 14px*/
    .fs-st-14 {
        font-size: 14px;
    }

    /*Font Size 16px*/
    .fs-st-16 {
        font-size: 16px;
    }

    /*Font Size 18px*/
    .fs-st-18 {
        font-size: 18px;
    }

    /*Font Size 20px*/
    .fs-st-20 {
        font-size: 20px;
    }

    /*Font Size 24px*/
    .fs-st-24 {
        font-size: 24px;
    }

    /*Font Size 28px*/
    .fs-st-28 {
        font-size: 28px;
    }

    /*Font Size 36px*/
    .fs-st-36 {
        font-size: 36px;
    }

    /*Font Size 48px*/
    .fs-st-48 {
        font-size: 48px;
    }

    /*Font Size 56px*/
    .fs-st-56 {
        font-size: 56px;
    }

    /*-------Font Sizes-------*/
    /*-------Font Styles------*/
    /*Bold Text*/
    .bold-st-text {
        font-family: open-sans-bold;
    }

    /*Regular Text*/
    .regular-st-text {
        font-family: open-sans-regular;
    }

    /*Light Text*/
    .light-st-text {
        font-family: open-sans-light;
    }

    /*Semi Bold Text*/
    .semi-bold-st-text {
        font-family: open-sans-semi-bold;
    }

    /*Text Center*/
    .text-st-center {
        text-align: center !important;
    }

    /*------Font Styles-------*/
    /*Width 100%*/
    .w-st-100 {
        width: 100vw !important;
    }

    /*Content Center*/
    .st-center {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    /*Content Left*/
    .st-left {
        display: flex;
        justify-content: start;
        margin: auto;
    }

    /*-----Text Colors-----*/
    /*Navigation Text Color*/
    .n-st-text {
        color: #60717B;
    }

    /*Title Color*/
    .title-st {
        color: #333333;
    }

    /*Sub Title Color*/
    .sub-title-st {
        color: #757575;
    }

    /*Pink Text*/
    .pink-text-st {
        color: #EF005A;
    }

    /*White Text*/
    .white-text-st {
        color: #FFFFFF;
    }

    /*-----Text Colors-----*/

    /*--------------------Slick Style--------------------*/
    /*Slik Arrow Display None*/
    .slick-arrow-d-none .slick-prev, .slick-arrow-d-none .slick-next {
        display: none !important;
    }

    /*----Slick Dots Manual Slider----*/
    /*Slick Manual Dots List*/
    .slick-manual .slick-dots {
        bottom: -20px;
    }

    /*Slick Manual Dots List*/
    .slick-manual .slick-dots li {
        width: 50px;
        height: 5px;
        padding: 0;
    }

    /*Slick Manual Dots List Button*/
    .slick-manual .slick-dots li button {
        width: 50px;
        height: 5px;
        padding: 0;
    }

    /*----Slick Dots Manual Slider----*/

    /*--------------------Slick Style--------------------*/

    /*-------Card Styles-------*/
    /*Card Style 5*/
    .cd-style-5 {
        height: auto;
    }
    /*-------Card Styles-------*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*Display None*/
    .d-mt-none {
        display: none;
    }

    /*Display Block*/
    .d-mt-block {
        display: block !important;
    }

    /*!*Order List (Mobile/Tab)*!*/
    /*!*Order 1*!*/
    /*.mt-order-1 {*/
    /*    order: 1;*/
    /*}*/

    /*!*Order 2*!*/
    /*.mt-order-2 {*/
    /*    order: 2;*/
    /*}*/

    /*Border Radius Zero*/
    .border-mt-0 {
        border-radius: 0 !important;
    }

    /*Padding Zero (Mobile/Tab)*/
    .p-mt-0 {
        padding: 0 !important;
    }

    /*-------Font Sizes-------*/

    /*Font Size 10px*/
    .fs-mt-10 {
        font-size: 10px;
    }

    /*Font Size 12px*/
    .fs-mt-12 {
        font-size: 12px;
    }

    /*Font Size 14px*/
    .fs-mt-14 {
        font-size: 14px;
    }

    /*Font Size 16px*/
    .fs-mt-16 {
        font-size: 16px;
    }

    /*Font Size 18px*/
    .fs-mt-18 {
        font-size: 18px;
    }

    /*Font Size 20px*/
    .fs-mt-20 {
        font-size: 20px;
    }

    /*Font Size 24px*/
    .fs-mt-24 {
        font-size: 24px;
    }

    /*Font Size 28px*/
    .fs-mt-28 {
        font-size: 28px;
    }

    /*Font Size 36px*/
    .fs-mt-36 {
        font-size: 36px;
    }

    /*Font Size 48px*/
    .fs-mt-48 {
        font-size: 48px;
    }

    /*Font Size 56px*/
    .fs-mt-56 {
        font-size: 56px;
    }

    /*-------Font Sizes---------*/
    /*-------Font Styles--------*/
    /*Bold Text*/
    .bold-mt-text {
        font-family: open-sans-bold;
    }

    /*Regular Text*/
    .regular-mt-text {
        font-family: open-sans-regular;
    }

    /*Light Text*/
    .light-mt-text {
        font-family: open-sans-light;
    }

    /*Semi Bold Text*/
    .semi-bold-mt-text {
        font-family: open-sans-semi-bold;
    }

    /*Text Center*/
    .text-mt-center {
        text-align: center !important;
    }

    /*-------Font Styles---------*/
    /*Width 100%*/
    .w-mt-100 {
        width: 100vw !important;
    }

    /*Content Center*/
    .mt-center {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    /*Content Left*/
    .mt-left {
        display: flex;
        justify-content: start;
        margin: auto;
    }

    /*-----Text Colors-----*/
    /*Navigation Text Color*/
    .n-mt-text {
        color: #60717B;
    }

    /*Title Color*/
    .title-mt {
        color: #333333;
    }

    /*Sub Title Color*/
    .sub-title-mt {
        color: #757575;
    }

    /*Pink Text*/
    .pink-text-mt {
        color: #EF005A;
    }

    /*White Text*/
    .white-text-mt {
        color: #FFFFFF;
    }

    /*-----Text Colors-----*/

    /*--------------------Slick Style--------------------*/
    /*Slik Arrow Display None*/
    .slick-arrow-d-none .slick-prev, .slick-arrow-d-none .slick-next {
        display: none !important;
    }

    /*----Slick Dots Manual Slider----*/
    /*Slick Manual Dots List*/
    .slick-manual .slick-dots {
        bottom: -20px;
    }

    /*Slick Manual Dots List*/
    .slick-manual .slick-dots li {
        width: 50px;
        height: 5px;
        padding: 0;
    }

    /*Slick Manual Dots List Button*/
    .slick-manual .slick-dots li button {
        width: 50px;
        height: 5px;
        padding: 0;
    }

    /*----Slick Dots Manual Slider----*/

    /*--------------------Slick Style--------------------*/

    /*-------Card Styles-------*/
    /*Card Style 5*/
    .cd-style-5 {
        height: auto;
    }
    /*-------Card Styles-------*/

}

/* Large Devices, Tablets / Desktops */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* (1366x768) Desktop OLD */
@media (min-width: 1366px)  and (max-width: 1399px) {

}

/* Mac Book */
@media only screen and (min-width: 1400px) and (max-width: 1800px) {

}

/* Laptop / Desktop New */
@media only screen and (min-width: 1920px) and (max-width: 2400px) {

}

/* 2K / 4K Laptop / Desktop*/
@media (min-width: 2500px) {

}
