@font-face {
    font-family: open-sans-bold;
    src: url('../assets/fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: open-sans-bold-italic;
    src: url('../assets/fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: open-sans-extra-bold;
    src: url('../assets/fonts/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: open-sans-extra-bold-italic;
    src: url('../assets/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: open-sans-italic;
    src: url('../assets/fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: open-sans-light;
    src: url('../assets/fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: open-sans-light-italic;
    src: url('../assets/fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: open-sans-regular;
    src: url('../assets/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: open-sans-semi-bold;
    src: url('../assets/fonts/open-sans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: open-sans-semi-bold-italic;
    src: url('../assets/fonts/open-sans/OpenSans-SemiBoldItalic.ttf');
}

/*Icon Moon*/
@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/iconmoon/icomoon.eot?b087mp');
    src:  url('../assets/fonts/iconmoon/icomoon.eot?b087mp#iefix') format('embedded-opentype'),
    url('../assets/fonts/iconmoon/icomoon.ttf?b087mp') format('truetype'),
    url('../assets/fonts/iconmoon/icomoon.woff?b087mp') format('woff'),
    url('../assets/fonts/iconmoon/icomoon.svg?b087mp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*--------Font Size--------*/
.fs-12 {
    font-size: 12px;
}
.fs-sm-12 {
    font-size: 12px;
}
.fs-md-12 {
    font-size: 12px;
}
.fs-lg-12 {
    font-size: 12px;
}
.fs-xl-12 {
    font-size: 12px;
}


.fs-14 {
    font-size: 14px;
}
.fs-sm-14 {
    font-size: 14px;
}
.fs-md-14 {
    font-size: 14px;
}
.fs-lg-14 {
    font-size: 14px;
}
.fs-xl-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}
.fs-sm-15 {
    font-size: 15px;
}
.fs-md-15 {
    font-size: 15px;
}
.fs-lg-15 {
    font-size: 15px;
}
.fs-xl-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}
.fs-sm-16 {
    font-size: 16px;
}
.fs-md-16 {
    font-size: 16px;
}
.fs-lg-16 {
    font-size: 16px;
}
.fs-xl-16 {
    font-size: 16px;
}


.fs-18 {
    font-size: 18px;
}
.fs-sm-18 {
    font-size: 18px;
}
.fs-md-18 {
    font-size: 18px;
}
.fs-lg-18 {
    font-size: 18px;
}
.fs-xl-18 {
    font-size: 18px;
}


.fs-20 {
    font-size: 20px;
}
.fs-sm-20 {
    font-size: 20px;
}
.fs-md-20 {
    font-size: 20px;
}
.fs-lg-20 {
    font-size: 20px;
}
.fs-xl-20 {
    font-size: 20px;
}


.fs-22 {
    font-size: 22px;
}
.fs-sm-22 {
    font-size: 22px;
}
.fs-md-22 {
    font-size: 22px;
}
.fs-lg-22 {
    font-size: 22px;
}
.fs-xl-22 {
    font-size: 22px;
}


.fs-24 {
    font-size: 24px;
}
.fs-sm-24 {
    font-size: 24px;
}
.fs-md-24 {
    font-size: 24px;
}
.fs-lg-24 {
    font-size: 24px;
}
.fs-xl-24 {
    font-size: 24px;
}


.fs-26 {
    font-size: 26px;
}
.fs-sm-26 {
    font-size: 26px;
}
.fs-md-26 {
    font-size: 26px;
}
.fs-lg-26 {
    font-size: 26px;
}
.fs-xl-26 {
    font-size: 26px;
}


.fs-28 {
    font-size: 28px;
}
.fs-sm-28 {
    font-size: 28px;
}
.fs-md-28 {
    font-size: 28px;
}
.fs-lg-28 {
    font-size: 28px;
}
.fs-md-28 {
    font-size: 28px;
}


.fs-32 {
    font-size: 32px;
}
.fs-sm-32 {
    font-size: 32px;
}
.fs-md-32 {
    font-size: 32px;
}
.fs-lg-32 {
    font-size: 32px;
}
.fs-xl-32 {
    font-size: 32px;
}


.fs-36 {
    font-size: 36px;
}
.fs-sm-36 {
    font-size: 36px;
}
.fs-md-36 {
    font-size: 36px;
}
.fs-lg-36 {
    font-size: 36px;
}
.fs-xl-36 {
    font-size: 36px;
}


.fs-48 {
    font-size: 48px;
}
.fs-sm-48 {
    font-size: 48px;
}
.fs-md-48 {
    font-size: 48px;
}
.fs-lg-48 {
    font-size: 48px;
}
.fs-xl-48 {
    font-size: 48px;
}


.fs-56 {
    font-size: 56px;
}
.fs-sm-56 {
    font-size: 56px;
}
.fs-md-56 {
    font-size: 56px;
}
.fs-lg-56 {
    font-size: 56px;
}
.fs-xl-56 {
    font-size: 56px;
}
/*--------Font Size--------*/

/*--------Font Styles--------*/
/*Bold Text*/
.bold-text {
    font-family: open-sans-bold;
}

/*Semi Bold Text*/
.semi-bold-text {
    font-family: open-sans-semi-bold;
}

/*Regular Text*/
.regular-text {
    font-family: open-sans-regular;
}

/*Light Text*/
.light-text {
    font-family: open-sans-light;
}
/*--------Font Styles--------*/

/*--------Font Colors--------*/
.text-white {
    color: #FFFFFF;
}

.text-nav {
    color: #60717B;
}

.text-title {
    color: #333333;
}

.text-sub-title {
    color: #757575;
}

.text-link {
    color: #3399EF;
}

.text-error {
    color: #D0021B;
}

.text-pink {
    color: #EF005A;
}

/*Pink Text Hover*/
.text-pink-hover:hover,
.text-pink-hover:active,
.text-pink-hover:focus {
    color: #EF005A;
    text-decoration: none;
}

/*--------Font Colors--------*/


/*--------Background Colors--------*/
.bg-white {
    background: #FFFFFF;
}

.bg-black {
    background: #000000;
}

.bg-red {
    background: #ED1B23;
}

.bg-pink {
    background: #EF005A;
}

.bg-gray {
    background: #E4E4E4;
}

/*Background Pink Hover*/
.bg-pink-hover:hover,
.bg-pink-hover:active,
.bg-pink-hover:focus {
    background: #EF005A;
}
/*--------Background Colors--------*/

/*--------Border Colors--------*/
/*Border Pink*/
.border-pink:hover,
.border-pink:active,
.border-pink:focus {
    border: 1px solid #EF005A;
}

/*Border Red*/
.border-red:hover,
.border-red:active,
.border-red:focus {
    border: 1px solid #ED1B23;
}
/*--------Border Colors--------*/

/*--------Buttons--------*/
/*Default Button*/
.dg-btn {
    height: 48px;
    font-size: 14px;
    padding: 0 24px;
    outline: none;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border-radius: 50rem;
    box-shadow: none;
    transition: 0.5s;
}

/*Default Button Hover, Active, Focus*/
.dg-btn:hover,
.dg-btn:active,
.dg-btn:focus {
    color: inherit;
    outline: none;
    box-shadow: none;
    background: inherit;
}

/*Default Outline Button*/
.dg-border-btn {
    border: 1px solid #C4C4C4;
}

/*Default Square Button*/
.dg-square-btn {
    border-radius: 4px;
}
/*--------Buttons--------*/

/*--------Cards--------*/
/*Default Card*/
.dg-card {
    border-radius: 16px;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    -moz-box-shadow: 0 0 4px 0 rgba(207,208,218,1);
    box-shadow: 0 0 4px 0 rgba(207,208,218,1);
}

/*Default Card Hover, Active, Focus*/
.dg-card:hover,
.dg-card:active,
.dg-card:focus {
    -webkit-box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
    -moz-box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
    box-shadow: 0 10px 20px -8px rgba(55,58,98,0.35);
}

/*Default Border Card*/
.dg-border-card {
    border: 1px solid #CCCCCC;
}
/*--------Cards--------*/

/*--------Width--------*/
.w-25 {
    width: 25vw !important;
}
.w-sm-25 {
    width: 25vw !important;
}
.w-md-25 {
    width: 25vw !important;
}
.w-lg-25 {
    width: 25vw !important;
}
.w-xl-25 {
    width: 25vw !important;
}

.w-50 {
    width: 50vw !important;
}
.w-sm-50 {
    width: 50vw !important;
}
.w-md-50 {
    width: 50vw !important;
}
.w-lg-50 {
    width: 50vw !important;
}
.w-xl-50 {
    width: 50vw !important;
}

.w-75 {
    width: 75vw !important;
}
.w-sm-75 {
    width: 75vw !important;
}
.w-md-75 {
    width: 75vw !important;
}
.w-lg-75 {
    width: 75vw !important;
}
.w-xl-75 {
    width: 75vw !important;
}

.w-100 {
    width: 100vw !important;
}
.w-sm-100 {
    width: 100vw !important;
}
.w-md-100 {
    width: 100vw !important;
}
.w-lg-100 {
    width: 100vw !important;
}
.w-xl-100 {
    width: 100vw !important;
}
/*--------Width--------*/

/*--------Row None--------*/
.dg-row-none {
    flex-wrap: unset !important;
    margin-right: unset !important;
    margin-left: unset !important;
}
/*--------Row None--------*/

/*--------Content Position--------*/
.dg-center {
     display: flex;
     justify-content: center;
     margin: auto;
 }
.dg-sm-center {
    display: flex;
    justify-content: center;
    margin: auto;
}
.dg-md-center {
    display: flex;
    justify-content: center;
    margin: auto;
}
.dg-lg-center {
    display: flex;
    justify-content: center;
    margin: auto;
}
.dg-xl-center {
    display: flex;
    justify-content: center;
    margin: auto;
}

.dg-left {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}
.dg-sm-left {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}
.dg-md-left {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}
.dg-lg-left {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}
.dg-xl-left {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.dg-right {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.dg-sm-right {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.dg-md-right {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.dg-lg-right {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.dg-xl-right {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
/*--------Content Position--------*/

/*--------Text Position--------*/
.text-center {
    text-align: center;
}
.text-sm-center {
    text-align: center;
}
.text-md-center {
    text-align: center;
}
.text-lg-center {
    text-align: center;
}
.text-xl-center {
    text-align: center;
}

.text-left {
    text-align: left;
}
.text-sm-left {
    text-align: left;
}
.text-md-left {
    text-align: left;
}
.text-lg-left {
    text-align: left;
}
.text-xl-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.text-sm-right {
    text-align: right;
}
.text-md-right {
    text-align: right;
}
.text-lg-right {
    text-align: right;
}
.text-xl-right {
    text-align: right;
}
/*--------Text Position--------*/

/*--------Display Content--------*/
.d-none {
    display: none;
}
.d-sm-none {
    display: none;
}
.d-md-none {
    display: none;
}
.d-lg-none {
    display: none;
}
.d-xl-none {
    display: none;
}

.d-block {
    display: block !important;
}
.d-sm-block {
    display: block !important;
}
.d-md-block {
    display: block !important;
}
.d-lg-block {
    display: block !important;
}
.d-xl-block {
    display: block !important;
}
/*--------Display Content--------*/

/*--------Content Order--------*/
.dg-order-1 {
    order: 1;
}
.dg-order-2 {
    order: 2;
}
.dg-order-3 {
    order: 3;
}
.dg-order-4 {
    order: 4;
}
/*--------Content Order--------*/

/*--------Border Zero--------*/
.border-0 {
    border-radius: 0 !important;
}
.border-sm-0 {
    border-radius: 0 !important;
}
.border-md-0 {
    border-radius: 0 !important;
}
.border-lg-0 {
    border-radius: 0 !important;
}
.border-xl-0 {
    border-radius: 0 !important;
}
/*--------Border Zero--------*/

/*--------Padding--------*/
.p-0 {
    padding: 0 !important;
}
.p-sm-0 {
    padding: 0 !important;
}
.p-md-0 {
    padding: 0 !important;
}
.p-lg-0 {
    padding: 0 !important;
}
.p-xl-0 {
    padding: 0 !important;
}
/*--------Padding--------*/