
/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 575px) {

    /*Nav Bar*/
    header #main_nav {
        /*height: 56px;*/
        align-items: self-start;
    }

    /*Nav Bar Logo*/
    header .navbar .navbar-brand .header-nav-logo {
        width: 70px;
    }

    /*Header Secondary Nav*/
    header #second_nav {
        top: 3.2rem;
        padding: 0;
        background-color: #FFFFFF;
        box-shadow: unset;
    }

    /*Header Search Form*/
    #header_search_form input[type=search],
    #header_search_form input[type=search]:focus {
        width: 100%;
    }


    /*Banner Carousel Section*/
    .banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-item-image{
        min-height: 70vh;
    }

    /*Banner Carousel Caption*/
    .banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-caption {
        top: 15%;
        padding: 0;
    }

    /*Invest In Section*/
    .invest-in-section .invest-in-content-deck {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    /*Invest In Section Content Card*/
    .invest-in-section .invest-in-content-deck .invest-in-content-card-container {
        padding: 0 10px;
    }

    /*Footer*/
    .footer .footer-mobile-navigation .footer-mobile-navigation-list .footer-mobile-navigation-list-item {
        padding: 6px 0;
        border-bottom: 0.5px solid #CCCCCC;
    }

    /*Footer Link Item*/
    .footer .footer-mobile-navigation .footer-mobile-navigation-list .our-service-m-footer-link-item {
        border-top: 0.5px solid #CCCCCC;
    }

    /*!*Footer Link After*!*/
    /*.footer-mobile-navigation-list-item .mobile-footer-collapse-link:after {*/
    /*    float: right !important;*/
    /*    font-family: FontAwesome;*/
    /*    content: "\f067";*/
    /*    padding-top: 5px;*/
    /*    padding-right: 5px;*/
    /*}*/

    /*!*Footer Link Collapsed After*!*/
    /*.footer-mobile-navigation-list-item .mobile-footer-collapse-link.collapsed > .footer-mobile-navigation-list-item .mobile-footer-collapse-link:after {*/
    /*    float: right !important;*/
    /*    content:"\f068";*/
    /*}*/


    /*Secondary Header & Our News Scroll Snap*/
    #second_nav {
        height: 36px;
    }

    #second_nav .second-nav-list, .our-news-section .our-news-mobile-deck {
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }

    /*Secondary Nav & Our News Card*/
    .second-nav-list > .second-nav-list-item, .our-news-mobile-deck > .our-news-card {
        scroll-snap-align: none start;
    }

    /*Second Nav List Item*/
    #second_nav .second-nav-list .second-nav-list-item {
        background-color: #FFFFFF !important;
    }

    /*Our News Card*/
    .our-news-section .our-news-card-deck .our-news-card {
        height: 340px;
    }

    /*Our News Card Inner*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner {
        height: 320px;
        min-height: 320px;
    }

    /*Our News Card Description*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-content .our-news-card-content-description {
        opacity: 1;
    }

    /*!*Our News Animation*!*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:hover,
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:focus,
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:active {
        height: 320px;
        transform: unset;
    }

    /*Secondary Nav Nav List*/
    #second_nav .second-nav-collapse .second-nav-list {
        flex-direction: row;
    }

    /*Secondary Nav Nav List Link*/
    #second_nav .second-nav-collapse .second-nav-list a {
        width: max-content;
    }

    /*Banner Carousel*/
    .banner-carousel-section {
        margin-top: 6rem;
    }

    /*Br Tag Disable*/
    .structure-section br, .facts-sheet-section br, .calender-section br {
        display: none;
    }

    /*Facts Sheet Section Content*/
    .facts-sheet-section .facts-sheet-section-content {
        padding-left: 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /*Header Secondary Nav*/
    header #second_nav {
        top: 3.2rem;
        padding: 0;
        background-color: #FFFFFF;
        box-shadow: unset;
    }

    /*Secondary Nav Nav List*/
    #second_nav .second-nav-collapse .second-nav-list {
        flex-direction: row;
    }

    /*Secondary Nav Nav List Link*/
    #second_nav .second-nav-collapse .second-nav-list a {
        width: max-content;
    }

    /*Secondary Header & Our News Scroll Snap*/
    #second_nav .second-nav-list, .our-news-section .our-news-mobile-deck {
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }

    /*Secondary Nav & Our News Card*/
    .second-nav-list > .second-nav-list-item, .our-news-mobile-deck > .our-news-card {
        scroll-snap-align: none start;
    }

    /*Second Nav List Item*/
    #second_nav .second-nav-list .second-nav-list-item {
        background-color: #FFFFFF !important;
    }

    /*Banner Carousel Section*/
    .banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-item-image{
        min-height: 488px;
    }

    /*Banner Carousel Caption*/
    .banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-caption {
        top: 15%;
        padding: 0;
    }

    /*Our News Card*/
    .our-news-section .our-news-card-deck .our-news-card {
        height: 350px;
    }

    /*Our News Card Inner*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner {
        height: 350px;
        min-height: 350px;
    }

    /*Our News Card Description*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-content .our-news-card-content-description {
        opacity: 1;
    }

    /*!*Our News Animation*!*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:hover,
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:focus,
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:active {
        height: 350px;
        transform: unset;
    }

    /*Facts Sheet Section Content*/
    .facts-sheet-section .facts-sheet-section-content {
        padding-left: unset;
    }

    /*Footer*/
    .footer .footer-mobile-navigation .footer-mobile-navigation-list .footer-mobile-navigation-list-item {
        padding: 6px 0;
        border-bottom: 0.5px solid #CCCCCC;
    }

    /*Footer Link Item*/
    .footer .footer-mobile-navigation .footer-mobile-navigation-list .our-service-m-footer-link-item {
        border-top: 0.5px solid #CCCCCC;
    }

    /*Footer Link After*/
    .footer-mobile-navigation-list-item > a:after {
        float: right !important;
        font-family: FontAwesome;
        content: "\f068";
        padding-top: 5px;
        padding-right: 5px;
    }

    /*Footer Link After Collapsed*/
    .footer-mobile-navigation-list-item > a.collapsed:after {
        float: right !important;
        content:"\f067";
    }

    /*Br Tag Disable*/
    .structure-section br, .facts-sheet-section br, .calender-section br {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*Header Secondary Nav*/
    header #second_nav {
        top: 3.2rem;
        background-color: #FFFFFF;
        box-shadow: unset;
    }

    /*Secondary Header & Our News Scroll Snap*/
    #second_nav .second-nav-list, .our-news-section .our-news-mobile-deck {
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        justify-content: center;
    }

    /*Secondary Nav & Our News Card*/
    .second-nav-list > .second-nav-list-item, .our-news-mobile-deck > .our-news-card {
        scroll-snap-align: none start;
    }

    /*Secondary Nav Nav List*/
    #second_nav .second-nav-collapse .second-nav-list {
        flex-direction: row;
    }

    /*Secondary Nav Nav List Link*/
    #second_nav .second-nav-collapse .second-nav-list a {
        width: max-content;
    }

    /*Our News Card*/
    .our-news-section .our-news-card-deck .our-news-card {
        height: 340px;
    }

    /*Second Nav List Item*/
    #second_nav .second-nav-list .second-nav-list-item {
        background-color: #FFFFFF !important;
    }

    /*Our News Card Inner*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner {
        height: 340px;
        min-height: 340px;
    }

    /*Our News Card Description*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-content .our-news-card-content-description {
        opacity: 1;
    }

    /*!*Our News Animation*!*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:hover,
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:focus,
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:active {
        height: 340px;
        transform: unset;
    }

    /*Br Tag Disable*/
    .structure-section br, .facts-sheet-section br, .calender-section br {
        display: none;
    }

    /*Facts Sheet Section Content*/
    .facts-sheet-section .facts-sheet-section-content {
        padding-left: 3rem;
    }

}

/* Large Devices, Tablets / Desktops */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /*Header Logo*/
    header .navbar .navbar-brand .header-nav-logo {
        width: 110px;
    }

    /*Header Nav Item Padding*/
    header .header-nav-item-padding {
         padding: 0;
    }

    /*Header Secondary Nav*/
    header #second_nav {
        top: 3.2rem;
    }

    /*Br Tag Disable*/
    .structure-section br, .facts-sheet-section br, .calender-section br {
        display: none;
    }

    /*Facts Sheet Section Content*/
    .facts-sheet-section .facts-sheet-section-content {
        padding-left: 3rem;
    }

    /*Our News Card Inner*/
    .our-news-section .our-news-card-deck .our-news-card .our-news-card-inner {
        height: 270px;
    }
}

/* (1366x768) Desktop OLD */
@media (min-width: 1366px)  and (max-width: 1399px) {
    .banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-item-image {
        min-height: 534px;
    }
}

/* Mac Book */
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
    .banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-item-image {
        min-height: 628px;
    }
}

/* Laptop / Desktop New */
@media only screen and (min-width: 1920px) and (max-width: 2400px) {
    .banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-item-image {
        min-height: 740px;
    }
}

/* 2K / 4K Laptop / Desktop*/
@media (min-width: 2500px) {

}
