
/*--------------------------------------Header--------------------------------------*/
/*Nav Bar Logo*/
header .navbar .navbar-brand .header-nav-logo {
    width: 82px;
}

/*Header Custom Toggle*/
header .navbar .header-custom-toggle .icon-open-menu:before {
    content: "\e903";
    color: #333333;
}



/*Nav Bar Reload Pay Button*/
header .header-reload-pay-button {
    color: #333333;
    height: 36px;
    font-family: open-sans-bold;
    background-color: #E4E4E4;
}

/*Nav Bar Cart Button Counter*/
header .navbar-collapse .header-nav-side-menu .header-cart-button .header-cart-counter {
    position: relative;
    top: -10px;
    left: -18px;
    color: white;
    font-size: 10px;
    padding: 3px 4px;
    border-radius: 50%;
}

/*Nav Bar Search Button*/
header .navbar-collapse .header-nav-side-menu .header-search-button {
    padding: 5px 10px 8px 10px;
    border-radius: 50%;
    background-color: black;
}

/*Header Nav Item Padding*/
header .header-nav-item-padding {
    padding: 0 1rem;
}

/*Header Use Icon, Shopping Cart Icon, Custom Toggle Icon*/
header .header-nav-side-menu .icon-shopping-cart, header .header-nav-side-menu .icon-avatar, header .icon-open-menu {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header .icon-open-menu {
    font-size: 20px !important;
}

header .header-nav-side-menu .icon-shopping-cart:before {
    content: "\e901";
    color: #8d94b3;

}
header .header-nav-side-menu .icon-avatar:before {
    content: "\e900";
    color: #8d94b3;
}

/*header .header-nav-side-menu .icon-search-1:before {*/
/*    content: "\e902";*/
/*    color: #8d94b3;*/

/*}*/

/*Header Search Form Input*/
#header_search_form input {
    outline: none;
}

/*Header Search Form Input Text Filed*/
#header_search_form input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: open-sans-regular;
    font-size: 100%;

}

/*Header Search Form Input*/
#header_search_form input::-webkit-search-decoration,
#header_search_form input::-webkit-search-cancel-button {
    display: none;
}

/*Header Search Form Input Text Filed*/
#header_search_form input[type=search] {
    cursor: pointer;
    width: 15px;
    height: 32px;
    color: transparent;
    padding: 0 0 0 18px;
    /* border-radius: 10em; */
    background: #000000;
    background: #000000 url(../assets/images/header/magnifying-glass.png) no-repeat 8px center;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}


/*Header Search Form Input Text Filed Focus*/
#header_search_form input[type=search]:focus {
    cursor: auto;
    color: #ffffff;
    width: 130px;
    padding-left: 32px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #000000;
}

/*Header Search Form Input Text Filed Placeholder*/
#header_search_form input:-moz-placeholder {
    color: transparent;
}

/*Header Search Form Input Text Filed Placeholder*/
#header_search_form input::-webkit-input-placeholder {
    color: transparent;
}

/*Second Nav Bar*/
#second_nav {
    position: fixed;
    z-index: 1;
    top: 3.3rem;
    width: 100%;
    padding: 0 1rem;
    background-color: #ECEEEF;
}

/*Second Nav Nav List*/
#second_nav .second-nav-collapse .second-nav-list {
    text-align: center;
    margin: 0 auto;
}

/*Second Nav Nav List Item*/
#second_nav .second-nav-collapse .second-nav-list .second-nav-list-item:hover,
#second_nav .second-nav-collapse .second-nav-list .second-nav-list-item:active,
#second_nav .second-nav-collapse .second-nav-list .second-nav-list-item:focus {
    font-weight: bold;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgba(225,74,50,1) 0%, rgba(159,33,93,1) 100%);
    border-image-slice: 60 30;
    background-color: #E4E4E4;
}

/*Second Nav Nav List Item Active*/
.second-nav-active {
    font-weight: bold;
        border-bottom: 3px solid;
        border-image: linear-gradient(90deg, rgba(225,74,50,1) 0%, rgba(159,33,93,1) 100%);
        border-image-slice: 60 30;
        background-color: #E4E4E4;
}


/*--------------------------------------Header--------------------------------------*/


/*--------------------------------------Banner Carousel--------------------------------------*/
/*Banner Section*/
.banner-carousel-section {
    margin-top: 5.8rem;
}

/*Banner Carousel Section*/
.banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-item-image{
    max-height: 500px;
}

/*Banner Carousel Caption*/
.banner-carousel-section .banner-carousel .banner-carousel-inner-item .banner-carousel-inner-caption {
    position: absolute;
    top: 25%;
    text-align: left;
    padding-left: 8rem;
}
/*--------------------------------------Banner Carousel--------------------------------------*/

/*--------------------------------------Future Today--------------------------------------*/

/*Future Today Section*/
.future-today-section {
    background: url("../assets/images/about-us/future-today/Future Today.jpg") no-repeat scroll;
    background-size: cover;
}

/*Future Today Card One*/
#future_cd_1 {
    background-image: linear-gradient(0deg, #F35D19 0%, #F68712 100%);
}

/*Future Today Card Two*/
#future_cd_2 {
    background-image: linear-gradient(0deg, #164396 0%, #7B1B67 100%);
}

/*Future Today Card Three*/
#future_cd_3 {
    background-image: linear-gradient(0deg, #C40D42 0%, #C40D42 100%);
}

/*Future Today Card Text*/
.future-today-card .future-today-card-text-container .future-today-card-text {
    font-size: 16px;
}
/*--------------------------------------Future Today--------------------------------------*/

/*--------------------------------------Achievements--------------------------------------*/

/*Achievement Carousel Content*/
.achievements-section .achievement-carousel-inner .achievement-carousel .achievement-carousel-content {
  margin: auto;
}
/*--------------------------------------Achievements--------------------------------------*/


/*--------------------------------------Our News--------------------------------------*/

/*Our News Section*/
.our-news-section {
    background: #EFF0F5;
}

/*Our News Card*/
.our-news-section .our-news-card-deck .our-news-card {
    height: 400px;
}

/*Our News Card Inner*/
.our-news-section .our-news-card-deck .our-news-card .our-news-card-inner {
    cursor: pointer;
    height: 305px;
    overflow: hidden;
    /*transform: scale(0.9);*/
    transition: 1s;
}



/*!*Our News Animation*!*/
.our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:hover,
.our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:focus,
.our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:active {
    height: 390px;
    transform: scale(1.05);
}

/*Our News Card Description*/
.our-news-section .our-news-card-deck .our-news-card .our-news-card-content .our-news-card-content-description {
    opacity: 0;
    transition: opacity .85s ease;
}

/*Our News Card Image*/
.our-news-section .our-news-card-deck .our-news-card .our-news-card-image img {
    border-radius: 16px 16px 0 0;
}

/*Our News Card Animation*/
.our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:hover .our-news-card-content-description,
.our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:focus .our-news-card-content-description,
.our-news-section .our-news-card-deck .our-news-card .our-news-card-inner:active .our-news-card-content-description {
    opacity: 1;
}
/*--------------------------------------Our News--------------------------------------*/

/*--------------------------------------Invest In Dialog--------------------------------------*/
/*Invest In Dialog Content Deck*/
.invest-in-section .invest-in-content-deck {
    border-top: 2px solid #D8D8D8;
}
/*--------------------------------------Invest In Dialog--------------------------------------*/

/*--------------------------------------Structure And Management--------------------------------------*/
/*Structure Section*/
.structure-section {
    background: #EFF0F5;
}

/*Structure Section Image*/
.structure-section .structure-section-image img {
    border-radius: 0 16px 16px 0;
}
/*--------------------------------------Structure And Management--------------------------------------*/

/*--------------------------------------Fact Sheet--------------------------------------*/

/*Facts Sheet Section Content*/
.facts-sheet-section .facts-sheet-section-content {
    padding-left: 10rem;
}

/*Facts Sheet Section Image*/
.facts-sheet-section .facts-sheet-section-image img {
    border-radius: 16px 0 0 16px;
}
/*--------------------------------------Fact Sheet--------------------------------------*/

/*--------------------------------------Calender--------------------------------------*/
/*Calender Section*/
.calender-section {
    background: #EFF0F5;
}

/*Calender Section Image*/
.calender-section .calender-section-image img {
    border-radius: 0 16px 16px 0;
}
/*--------------------------------------Calender--------------------------------------*/

/*--------------------------------------Footer--------------------------------------*/

/*Footer*/
footer {
    background-color: #333333;
}

/*Footer Link List Link*/
footer ul li a {
    color: white;
}

/*--------------------------------------Footer--------------------------------------*/